<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gamehub.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GameHub</name>
    <description>سوپر‌اپ بازی‌های رقابتی آفلاین/آزمایشی</description>
    <author email="dev@gamehub.ir" href="https://gamehub.ir">GameHub Team</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="res/icon/android/icon-36-ldpi.png" density="ldpi" />
        <icon src="res/icon/android/icon-48-mdpi.png" density="mdpi" />
        <icon src="res/icon/android/icon-72-hdpi.png" density="hdpi" />
        <icon src="res/icon/android/icon-96-xhdpi.png" density="xhdpi" />
    </platform>
    <preference name="loglevel" value="INFO" />
    <preference name="EnableViewportScale" value="true" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="orientation" value="portrait" />
</widget>